@media only screen and (min-width: 0px){
/* For mobile phones: */
    body {width: 110%;}
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    body {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    body {width: 100%;}
}
