/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    body {width: 125%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    body {width: 150%;}
}
