@media only screen and (min-width: 50px){
/* For mobile phones: */
    body {width: 100%;}
    .navbar {font-size: 25px}
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    body {width: 100%;}
    .navbar {font-size: 22.5px}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    body {width: 100%;}
    .navbar {font-size: 20px}
}
